body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   
}

#containment-wrapper {
    height: 80vh;
}

#doge-meme-pic {
    height: 50vh;
    width: auto;
    border-radius: 11%;
}